.nav-bar .column{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .nav-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .nav-bar-content .nav-bar-content-menu ul {
  display: flex;
}

.nav-bar .nav-bar-content .nav-bar-content-menu ul li a {
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  color: #1F2937;

}

.nav-bar .nav-bar-content .nav-bar-content-separator {
  border: none;
  width: 1px;
  color: #E5E7EB;
}

.nav-bar .nav-bar-content .nav-bar-content-button {
  display: flex;
  gap: 16px;
}